@model ServiceData.Models.ProblemData

@{
    ViewBag.Title = "Setup Google Calendar";
}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Geocoding service</title>
    <style>
      html, body, #map-canvas {
        width: 800px;
        height: 600px;
      }
    </style>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/jquery-1.8.2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
     <script src="Scripts/map.js"></script>
  </head>
  <body>
    <div>
        <div id="panel">
            <label for="address">Address</label>
            <input id="address" type="textbox" value="" style="width: 300px">
            <input type="button" value="Go" onclick="codeAddress()">
            <input type="button" value="Populate All Data" onclick="populateData()">
            <input type="button" value="Clear Map" onclick="deleteMarkers()">

            <input type="button" value="Populate Service Data" onclick="populateServiceData()">
            <fieldset>
                <legend>Filter</legend>
                <label for="probcode">Problem Code</label>
                <select id="probcode" onchange="populateData()">
                    <option value="ALL" selected>ALL</option>
                </select>  <br />
                <label for="severity">Severity</label>
                <select id="severity" onchange="populateServiceData()">
                    <option value="ALL" selected>ALL</option>
                </select> 
            </fieldset>
        </div><br />
        <div id="map-canvas"></div>
    </div>
  </body>
</html>
